nav {
    height: 40px;
    padding: 6px 0 calc(6px + env(safe-area-inset-bottom));

    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;

    background-color: #1F1F1F;

    display: grid;
    grid-template: 1fr / repeat(2, 1fr);
}

nav > a {
    display: grid;
    grid-template: 1fr auto / 1fr;
    margin: 0;
    padding: 0;

    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    color: white;
    text-decoration: none;
}

nav svg {
    margin: 0 auto;
}

.App > *{
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background: #121212;
    font-size: calc(16px + 1vmin);

    color: white;
}

.App__Header {
    height: 64px;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #1F1F1F;
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
}

.App input {
    padding: 16px 16px;
    margin-bottom: 32px;

    background: none;
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid;

    font-size: 24px;
    color: white;
}

.App button {
    height: 48px;
    width: 200px;
    margin: auto;

    position: fixed;
    bottom: calc(72px + env(safe-area-inset-bottom));
    left: 0;
    right: 0;

    background: black;
    border: 0;
    border-radius: 16px;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);

    font-size: 20px;
    color: white;
}
